<h1 class="main-header">Notepad</h1>

<div class="main-wrapper">

  <div class="form-wrapper">

    <h1 class="note-header">New</h1>

    <p>Title: </p>
    <input [(ngModel)]="modelTitle" [style.border]="titlError && 'solid 2px red' || !titlError && 'solid 1px grey'" type="text" placeholder="title" name="title">
    <p class="hidden" [style.display]="!titlError && 'none' || titlError && 'block'">Must contain at least 5 symbols</p>
    <p>Note: </p>
    <textarea [(ngModel)]="modelNote" [style.border]="noteError && 'solid 2px red' || !noteError && 'solid 1px grey'" rows="8" placeholder="..." name="note"></textarea>
    <p class="hidden" [style.display]="!noteError && 'none' || noteError && 'block'">Must contain at least 7 symbols</p>
    <button class="save-btn" (click)="saveNote()">Save</button>
    
  </div>
    
  <div class="notes-wrapper">
  
    <h1 class="note-header">Notes</h1>
    
    @for (note of notesList; track $index) {
      <div class="note" (click)="editNote($index)">
    
        <p>{{note.title}}</p>
        <hr>
        <p>{{note.note}}</p>

        @if(selectedNote === $index){
          <div class="hid-btns-wrapper">
    
            <button class="edit-btn" (click)="showData($index)">Edit</button>
            <button class="edit-btn" (click)="deleteNote($index)">Delete</button>
      
          </div>
        }
    
        
    
      </div>
    }
    
  </div>

</div>

<!-- <div class="form-wrapper">

  <p>Title: </p>
  <input [(ngModel)]="modelTitle" [style.border]="titlError && 'solid 2px red' || !titlError && 'solid 1px grey'" type="text" placeholder="title" name="title">
  <p [style.display]="!titlError && 'none' || titlError && 'block'">Must contain at least 5 symbols</p>
  <p>Note: </p>
  <textarea [(ngModel)]="modelNote" [style.border]="noteError && 'solid 2px red' || !noteError && 'solid 1px grey'" rows="8" placeholder="..." name="note"></textarea>
  <p [style.display]="!noteError && 'none' || noteError && 'block'">Must contain at least 7 symbols</p>
  <button class="save-btn" (click)="saveNote()">Save</button>
  
</div>
  
<div class="notes-wrapper">

  <h1 class="note-header">Notes</h1>
  
  @for (note of notesList; track $index) {
    <div class="note" (click)="editNote($index)">
  
      <p>{{note.title}}</p>
      <hr>
      <p>{{note.note}}</p>
  
      <div class="hid-btns-wrapper" *ngIf="selectedNote === $index">
  
        <button class="edit-btn" (click)="showData($index)">Edit</button>
        <button class="edit-btn" (click)="deleteNote($index)">Delete</button>
  
      </div>
  
    </div>
  }
  
</div> -->
